<div id="<%= dom_id home_sale %>">
  <p>
    <strong>Home:</strong>
    <%= home_sale.home_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= home_sale.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= home_sale.description %>
  </p>

</div>
