<div id="<%= dom_id home_sale %>">

  <p>
    <strong>Price:</strong>
    <%= home_sale.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= home_sale.description %>
  </p>

  <%= action_links(home_sale) %>

</div>
