<h1>Editing home sale</h1>

<%= render "form", home_sale: @home_sale %>

<br>

<div>
  <%= link_to "Show this home sale", @home_sale %> |
  <%= link_to "Back to home sales", home_sales_path %>
</div>
