<h1 class="text-center"> Bienvenue sur Domus </h1>
<hr>
<h2> l'outil dédié pour l'immobilier Premium entre particuliers </h2>
<hr>

<%= link_to  "Proposer un bien", pages_offer_home_path, class: "btn btn-primary fw-bold w-100 my-3" %>

<%= link_to  "Trouver un bien", pages_find_home_path , class: "btn btn-primary fw-bold w-100" %>